<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhu.a13cscproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.13CSCProject">
        <activity android:name=".SendData"></activity>
        <activity android:name=".OrderConfirm_v2" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".FoodSpecifications" />
        <activity android:name=".FoodChoice_v2" />
        <activity
            android:name=".OrderConfirm"
            android:parentActivityName=".FoodChoice" /> <!-- according to tutorial, I am making food_choice the parent activity, and it works. -->
        <!-- update to my comment, this is to carry variable over, so I am kind of extending .FoodChoice class -->
        <activity android:name=".FoodChoice" />
        <activity android:name=".IdentityCheck" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>